.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 60px;
  padding: 20px;
}
.row-content {
  min-height: 200px;
  margin: 0px auto;
  padding: 20px 0px;
  border-bottom: 2px ridge;
}
.jumbotron {
  background: #5CCCCC;
}
.navbar-header .navbar-brand {
  color: #CCE2DD;
}
.navbar-inverse {
  background: #009999;
  color: #CCE2DD;
}
.navbar-inverse .navbar-nav > li > a {
  color: #CCE2DD;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #1D7373;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #1D7373;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #1D7373;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #1D7373;
  color: #CCE2DD;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #1D7373;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #1D7373;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #009999;
  color: #CCE2DD;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #009999;
  color: #eeeeee;
  opacity: 0.9;
}
